<h1 class="category-head">Resume</h1>
<section id="cd-timeline" class="cd-container">
    <div class="bg transition cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Introduction</h2>
            <ul class="initial-text">
                <li>⬥ Web Development (SPA with Angular 6+) and
                    2.5 years of experience in taking lead in the
                    development of the software modules as well
                    as its implementation.</li>
                <li>⬥ Experience in system analysis, design,
                    workflow architecture, development, testing,
                    and maintenance of web-based application.
                </li>
                <li>⬥ Good knowledge of Agile/Scrum project
                    methodology.
                </li>
                <li>⬥ Extensive working experience in UI web,
                    Rest based applications with Angular and
                    React.
                </li>
            </ul>
            <span class="cd-date"> <img
                    src="https://cdn1.iconfinder.com/data/icons/social-workers/283/social-worker-006-512.png"
                    height="70" width="70">
            </span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="bg1 transition cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Core Strength</h2>
            <ul>
                <li>
                    Website optimization, Web security concerns, Web Content Management, Communication skills, Quick
                    learner, Hosting & Maintenance, Flexibility and adaptability, Task prioritization, Management skills
                </li>
            </ul>
            <span class="cd-date"> <img
                    src="https://www.pngkit.com/png/full/359-3593453_download-svg-download-png-light-bulb-icon-png.png"
                    height="70" width="70">
            </span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="bg2 transition cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Core Technical Skills</h2>
            <ul>
                <li>
                    Backbase CXP 6.0 - WC3,
                    JavaScript, RxJs, Angular 5 & 6,
                    Spring Boot, Maven, HTML5, CSS3,
                    SCSS, XML, Jasmine, Karma,
                    Bootstrap.
                </li>
            </ul>
            <span class="cd-date"> <img src="https://icon-library.com/images/coding-icon-png/coding-icon-png-20.jpg"
                    height="70" width="70">
            </span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="bg3 transition cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <!-- <img src="https://codyhouse.co/demo/vertical-timeline/img/cd-icon-location.svg" alt="Location"> -->
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Certification and Github Profile</h2>
            <ul class="initial-text">
                <li>
                    ⬥ Backbase Frontend Engineer (CXS Widget Architecture 3)
                    with Angular 6
                </li>
                <li>
                 <button class="custom-btn btn-12"><span><a href="https://github.com/prodyut-das-repo" target="_blank" style="color:rgb(255, 255, 255)">Click here!</a></span><span>Github Profile</span></button>
                </li>
            </ul>
            
            <span class="cd-date"> <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKkNnGR1PH4rZFvesswWi_gn4eU4F1vPRJdg&usqp=CAU"
                    height="70" width="70">
            </span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->