<div class="box" id="loader">
  <div class="head">
    <div class="lefteye">

    </div>
    <div class="righteye">

    </div>
    <div class="mouth">

    </div>
  </div>
</div>
<div class="bg-image animate-bottom" id="myDiv1" style="display:none;"></div>
<div class="" id="myDiv" style="display:none;">
  <div class="bg-text">
    <div class="wrapper">
      <div class="profile">
        <img
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/p960x960/67162711_2334961603260311_6404206167194599424_o.jpg?_nc_cat=105&_nc_sid=7aed08&_nc_ohc=G-P80rOMAkcAX-9Jovf&_nc_ht=scontent-bom1-1.xx&_nc_tp=6&oh=dbd770daf686aafee91a21c61f52a641&oe=5EDABF7E"
          class="thumbnail">
        <div class="check"><i class="fas fa-check"></i></div>
        <h3 class="name">Prodyut Das</h3>
        <p class="title">Javascript Developer</p>
        <p class="description">Angular 5+, React</p>
        <button class='open btn' (click)='hireMe()'>Hire</button>
      </div>

      <!-- <div class="social-icons">
		<div class="icon">
			<a href="/"><i class="fab fa-dribbble"></i></a>
			<h4>12.8k</h4>
			<p>Followers</p>
		</div>

		<div class="icon">
			<a href="#"><i class="fab fa-behance"></i></a>
			<h4>12.8k</h4>
			<p>Followers</p>
		</div>

		<div class="icon">
			<a href="#"><i class="fab fa-twitter"></i></a>
			<h4>12.8k</h4>
			<p>Followers</p>
		</div>
	</div> -->
    </div>
    <!-- <h1 style="font-size:50px">Hi there, I'm Prodyut Das</h1>
    <p>And I'm a Web Developer</p> -->
  </div>
  <app-section1></app-section1>
  <app-section2></app-section2>
  <div class='overlay'>
    <div class='panel'>
      <div class='inner'>
        <button class='close'>Close</button>
       <h1> What the fuck !</h1>
      </div>
    </div>
  </div>

</div>
