<div class="box" id="loader">
  <div class="head">
    <div class="lefteye">

    </div>
    <div class="righteye">

    </div>
    <div class="mouth">

    </div>
  </div>
</div>
<div class="bg-image animate-bottom" id="myDiv1" style="display:none;"></div>
<div class="" id="myDiv" style="display:none;">
  <div class="find-me">
    <div class="social-contact"><a target="_blank" href="https://join.skype.com/invite/W1QthkDdOFFD" target="_blank"><img src="./assets/icon1.png"
          class="img-responsive img-contact"></a></div>
    <div class="social-contact"><a target="_blank" href="https://github.com/prodyut-das-repo"><img src="./assets/icon2.png" class="img-responsive img-contact"></a>
    </div>
    <div class="social-contact"><a target="_blank" href="https://api.whatsapp.com/send?phone=+919564384487"><img src="./assets/icon3.png" class="img-responsive img-contact"></a>
    </div>
    <div class="social-contact"><a target="_blank" href="https://www.facebook.com/produdex"><img src="./assets/icon4.png" class="img-responsive img-contact"></a>
    </div>
  </div>
  <div class="bg-text">
    <div class="wrapper">
      <div class="profile">
        <img src="./assets/Prodyut.jpg" class="thumbnail">
        <div class="check"><i class="fas fa-check"></i></div>
        <h3 class="name">Prodyut Das</h3>
        <p class="title">Javascript Developer</p>
        <p class="description">Angular 5+, React</p>
        <!-- <button class='open btn' (click)='hireMe()'>Hire</button> -->
        <a href="https://drive.google.com/file/d/1HDruYxbNNJuCBBKkBt05yHUevTOkYTTB/view?usp=sharing" target="_blank" class="button1">Download Resume</a>
      </div>

    </div>
  </div>
  <div class = "flex">
    <button class="z-top" *ngIf="isShow" (click)="gotoTop()"><img height="70" src="./assets/arrow.png"/></button>
  </div>
  <app-section1></app-section1>
  <app-section2></app-section2>
  <div class='overlay'>
    <div class='panel'>
      <div class='inner'>
        <button class='close'>Close</button>
        <h2>wow</h2>
      </div>
    </div>
  </div>
</div>