<div class="box" id="loader">
  <div class="head">
    <div class="lefteye">

    </div>
    <div class="righteye">

    </div>
    <div class="mouth">

    </div>
  </div>
</div>
<div class="bg-image animate-bottom" id="myDiv1" style="display:none;"></div>
<div class="" id="myDiv" style="display:none;">
  <div class="bg-text">
    <h1 style="font-size:50px">Hi there, I'm Prodyut Das</h1>
    <p>And I'm a Web Developer</p>
  </div>
  <app-section1></app-section1>
  <app-section2></app-section2>
</div>
