<div class="margin category-head">
  <div class="decode-text">
    <div class="text-animation">E</div>
    <div class="text-animation">v</div>
    <div class="text-animation">e</div>
    <div class="text-animation">r</div>
    <div class="text-animation">y</div>
    <div class="text-animation">t</div>
    <div class="text-animation">h</div>
    <div class="text-animation">i</div>
    <div class="text-animation">n</div>
    <div class="text-animation">g</div>
    <div class="space"></div>
    <div class="space"></div>

    <div class="text-animation">a</div>
    <div class="text-animation">b</div>
    <div class="text-animation">o</div>
    <div class="text-animation">u</div>
    <div class="text-animation">t</div>
    <div class="space"></div>
    <div class="space"></div>

    <div class="text-animation">m</div>
    <div class="text-animation">e</div>
    <!-- <div class="text-animation">f</div>
    <div class="text-animation">e</div>
    <div class="text-animation">c</div>
    <div class="text-animation">t</div> -->
  </div>
</div>
