<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
  <span>
    This is where  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; expectation meets
  </span>
</div>
<div class="menu-container" [class.fixed]="navFixed" #mainScreen>

  <div class="menu" id="menu">

    <input type="radio" id="radio-0" name="menu" checked />
    <label class="tab" for="radio-0">
      <div class="item">
        <i class="fas fa-home fa-2x"></i>
        <div class="item-title">Home</div>
      </div>
    </label>

    <input type="radio" id="radio-1" name="menu" />
    <label class="tab" for="radio-1">
      <div class="item">
        <i class="fas fa-chart-pie fa-2x"></i>
        <div class="item-title">Education</div>
      </div>
    </label>

    <input type="radio" id="radio-2" name="menu" />
    <label class="tab" for="radio-2">
      <div class="item">
        <i class="fas fa-truck fa-2x"></i>
        <div class="item-title">Projects</div>
      </div>
    </label>

    <input type="radio" id="radio-3" name="menu" />
    <label class="tab" for="radio-3">
      <div class="item">
        <i class="fas fa-shopping-cart fa-2x"></i>
        <div class="item-title">Contact</div>
      </div>
    </label>

    <div class="blob-container">
      <div class="blob"></div>
    </div>
  </div>
</div>
<div style="height: 1000px;">

</div>

