<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
  <span>
    This is where &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; expectation meets
  </span>
</div>
<!-- <div class="menu-container"  #mainScreen>

  <div class="menu" id="menu">

    <input type="radio" id="radio-0" name="menu" checked />
    <label class="tab" for="radio-0">
      <div class="item">
        <i class="fas fa-home fa-2x"></i>
        <div class="item-title"><a href="#home">Home</a></div>
      </div>
    </label>

    <input type="radio" id="radio-1" name="menu" />
    <label class="tab" for="radio-1">
      <div class="item">
        <i class="fas fa-chart-pie fa-2x"></i>
        <div class="item-title"><a href="#about">About</a></div>
      </div>
    </label>

    <input type="radio" id="radio-2" name="menu" />
    <label class="tab" for="radio-2">
      <div class="item">
        <i class="fas fa-truck fa-2x"></i>
        <div class="item-title"><a href="#work">Work</a></div>
      </div>
    </label>

    <input type="radio" id="radio-3" name="menu" />
    <label class="tab" for="radio-3">
      <div class="item">
        <i class="fas fa-shopping-cart fa-2x"></i>
        <div class="item-title"><a href="#contact">Contact</a></div>
      </div>
    </label>

    <div class="blob-container">
      <div class="blob"></div>
    </div>
  </div>
</div> -->
<div id="nav-container" class='ng transition' [class.fixed]="navFixed">
  <div id="nav">
    <a href="#home" class="nav-link active">Profile</a>
    <a href="#about" class="nav-link">About</a>
    <a href="#work" class="nav-link">Work</a>
    <a href="#contact" class="nav-link">Contact</a>
  </div>
</div>

<section id="home">
    <app-section-home></app-section-home>
</section>
<section id="about">
  <app-section-about></app-section-about>
</section>
<section id="work">
  <app-section-work></app-section-work>
</section>
<section id="contact">
  <app-section-contact></app-section-contact>
</section>
<footer>
  <div class="title-footer" >
    <h1 class="footer-text">Made with ❤️ by Prodyut</h1>
    </div>
    
</footer>